<%= simple_form_for @movie, html: { :multipart => true } do |f| %>
  <div class="form-inputs" id="form">
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :released %>
    <%= f.text_field :released %>
    <%= f.label :director %>
    <%= f.text_field :director %>
    <%= f.text_field :title %>
    <%= f.label :image %> 
    <%= f.text_field :image %> 
    <%= f.file_field :image %><br>
    <%= f.submit "Add Movie", class: 'btn btn-info' %>
  </div><br>
 <% end %>